body{
	--color-blue: 61,180,242;
	--color-green: 123,213,85;
	--color-peach: 250,122,122;
	margin: 0;
	height: 100%;
	font-family: sans-serif;
}
.theme-dark{
	--color-text: 169,183,199;
	--max-contrast: 255,255,255;
	--color-background: 9,12,25;
	--color-base: 0,0,0;
	--color-foreground: 21,31,46;
}
body{
	background: rgb(var(--color-background));
	color: rgb(var(--color-text));
	overflow: hidden;
}
#app{
	margin: 0;
	min-height: 100%;
}
#content{
	margin-top: 50px;
	margin-bottom: 100px;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
}
.column{
	flex: 49%;
}
#resizer.column{
	flex: 10px;
	border-left: solid;
	cursor: w-resize;
	max-width: 10px;
}
#nav{
	text-align: center;
	background: rgb(var(--color-base));
	border-bottom: solid;
	border-bottom-width: 1px;
	position: fixed;
	width: 100%;
	top: 0px;
}
#nav .locations{
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#nav .location{
	padding: 5px 20px 5px 20px;
	color: rgb(var(--color-text));
}
#nav .location.active{
	background: rgb(var(--color-foreground));
	color: rgb(var(--max-contrast));
}
.ilink{
	cursor: pointer;
	color: rgb(var(--color-blue));
}
#nav .location:hover{
	color: rgb(var(--max-contrast));
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.post{
	background: rgb(var(--color-foreground));
	padding: 10px;
	margin: 12px;
	border-radius: 5px;
	position: relative;
}
.post img{
	max-width: 400px;
}
#mainpan{
	overflow-y: scroll;
	height: calc(100vh - 60px);
	scrollbar-width: thin;
	width: 60%;
}
.noselect{
	user-select: none;
}
.filter .modes{
	margin-bottom: 10px;
}
.filter .mode{
	padding: 5px;
	cursor: pointer;
}
.filter .mode:hover{
	color: rgb(var(--max-contrast));
}
.actions{
	position: absolute;
	bottom: 3px;
	right: 10px;
}
.actions .action{
	cursor: pointer;
}
.actions .likes.ILikeThis{
	color: rgb(var(--color-peach));
}
.actions .likes:hover{
	color: rgb(var(--color-peach));
}
.actions .likes.ILikeThis:hover{
	color: rgb(var(--color-text));
}
.create{
	padding: 10px;
}
.create textarea{
	width: 98%;
	resize: none;
	background: rgb(var(--color-foreground));
	color: rgb(var(--color-text));
	padding: 5px;
	border: none;
}
.post .header{
	padding: 10px;
	padding-left: 0px;
}
.post.text-post .header{
	border-bottom: solid;
	border-bottom-width: 1px;
}
.filter .mode.active{
	color: rgb(var(--color-blue));
	text-decoration: underline;
}
.post .markdown{
	margin-bottom: 12px;
}
.markdown_spoiler{
	background: rgb(31, 35, 45);
	color: rgb(31, 35, 45);
}
.markdown_spoiler:hover{
	color: rgb(159,173,189);
}
.markdown_spoiler img{
	filter: blur(10px) hue-rotate(60deg) brightness(0.7);
}
.markdown_spoiler:hover img{
	filter: none;
}
.markdown_spoiler::after{
	content: "Spoiler";
	color: rgb(159,173,189);
	margin-left: 2px;
}
.hohCheckbox.el-checkbox__input > span.el-checkbox__inner{
	background-color: rgb(var(--color-foreground));
	margin-right:10px;
	border-color: rgba(var(--color-text),.2);
}
.hohCheckbox input:checked + .el-checkbox__inner{
	background-color: #409eff;
	border-color: #409eff;
}
.hohCheckbox input:checked + .el-checkbox__inner::after{
	transform: rotate(45deg) scaleY(1);
}
.hohCheckbox input{
	display: none;
}
.hohCheckbox{
	margin-left: 2px;
}
.hohCheckbox .el-checkbox__inner::after {
	box-sizing: content-box;
	content: "";
	border: 1px solid #fff;
	border-left: 0;
	border-top: 0;
	height: 7px;
	left: 4px;
	position: absolute;
	top: 1px;
	transform: rotate(45deg) scaleY(0);
	width: 3px;
	transition: transform .15s ease-in .05s;
	transform-origin: center;
}
.hohCheckbox .el-checkbox__inner {
	display: inline-block;
	position: relative;
	border: 1px solid #dcdfe6;
	border-radius: 2px;
	box-sizing: border-box;
	width: 14px;
	height: 14px;
	z-index: 1;
	transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.hohCheckbox.el-checkbox__input{
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	display: inline-block;
	line-height: 1;
	position: relative;
	vertical-align: middle;
}
.filter .hohCheckbox{
	padding-left: 25px;
}
