body{
	--color-blue: 61,180,242;
	--color-green: 123,213,85;
	--color-peach: 250,122,122;
	margin: 0;
	height: 100%;
}
.theme-dark{
	--color-text: 169,183,199;
	--max-contrast: 255,255,255;
	--color-background: 11,22,34;
	--color-base: 5,11,17;
	--color-foreground: 21,31,46;
}
body{
	background: rgb(var(--color-background));
	color: rgb(var(--color-text));
	overflow: hidden;
}
#app{
	margin: 0;
	min-height: 100%;
}
#content{
	margin-top: 50px;
	margin-bottom: 100px;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
}
.column{
	flex: 49%;
}
#resizer.column{
	flex: 10px;
	border-left: solid;
	cursor: w-resize;
	max-width: 10px;
}
#nav{
	text-align: center;
	background: rgb(var(--color-base));
	border-bottom: solid;
	border-bottom-width: 1px;
	position: fixed;
	width: 100%;
	top: 0px;
}
#nav .locations{
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#nav .location{
	padding: 5px 20px 5px 20px;
	color: rgb(var(--color-text));
}
#nav .location.active{
	background: rgb(var(--color-foreground));
	color: rgb(var(--max-contrast));
}
.ilink{
	cursor: pointer;
	color: rgb(var(--color-blue));
}
#nav .location:hover{
	color: rgb(var(--max-contrast));
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.post{
	background: rgb(var(--color-foreground));
	padding: 10px;
	margin: 12px;
	border-radius: 5px;
	position: relative;
}
.post img{
	max-width: 400px;
}
#mainpan{
	overflow-y: scroll;
	height: calc(100vh - 60px);
}
.noselect{
	user-select: none;
}
.filter .mode{
	padding: 5px;
}
.actions{
	position: absolute;
	bottom: 3px;
	right: 10px;
}
.actions .likes.ILikeThis{
	color: rgb(var(--color-peach));
}
.create{
	padding: 10px;
}
.create textarea{
	width: 98%;
	resize: none;
	background: rgb(var(--color-foreground));
	color: rgb(var(--color-text));
	padding: 5px;
	border: none;
}
.post .header{
	padding: 10px;
	border-bottom: solid;
	border-bottom-width: 1px;
	padding-left: 0px;
}
.filter .mode.active{
	color: rgb(var(--color-blue));
	text-decoration: underline;
}
